# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Build

on:
  - push
  - pull_request

jobs:
  test-all:
    name: Tests for all Python versions on ${{ matrix.os }}

    runs-on: ${{ matrix.os }}-latest

    strategy:
      matrix:
        os: [ubuntu, macos, windows]

    steps:
      - name: Check out the code
        uses: actions/checkout@main

      - name: Install UV
        uses: astral-sh/setup-uv@v7

      - name: Install Hatch
        run: uv tool install hatch

      - name: Report Hatch status
        run: hatch status

      - name: Run all lint and type checks
        run: hatch run dev:check-all

      - name: Run test suite for all Python versions
        run: hatch test --all --slow

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
